<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="g13Team.orientaMenti">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="orientaMenti"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ListaBandiAzienda4"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda3"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda2"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda1"
            android:exported="false" />
        <activity
            android:name=".ListaBandi"
            android:exported="false" />
        <activity
            android:name=".DettaglioOracle"
            android:exported="false" />
        <activity
            android:name=".DettaglioLidl"
            android:exported="false" />
        <activity
            android:name=".DettaglioIntesa"
            android:exported="false" />
        <activity
            android:name=".DettaglioMeta"
            android:exported="false" />
        <activity
            android:name=".ListaAziende"
            android:exported="false" />
        <activity
            android:name=".LoginError"
            android:exported="false" />
        <activity
            android:name=".DashboardHR"
            android:exported="false" />
        <activity
            android:name=".DashboardDocente"
            android:exported="false" />
        <activity
            android:name=".DashboardStudente"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>