<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="g13Team.orientaMenti">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="orientaMenti"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ConfermaCandidatura"
            android:exported="false" />
        <activity
            android:name=".studente.BandoConsulenteAziendale"
            android:exported="false" />
        <activity
            android:name=".studente.BandoCrewMember"
            android:exported="false" />
        <activity
            android:name=".studente.BandoProjectManager"
            android:exported="false" />
        <activity
            android:name=".docente.ListaStudentiDocente"
            android:exported="false" />
        <activity
            android:name=".hr.ListaStudentiHR"
            android:exported="false" />
        <activity
            android:name=".studente.BandoSoftwareDeveloper"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda4"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda3"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda2"
            android:exported="false" />
        <activity
            android:name=".ListaBandiAzienda1"
            android:exported="false" />
        <activity
            android:name=".ListaBandi"
            android:exported="false" />
        <activity
            android:name=".studente.DettaglioOracle"
            android:exported="false" />
        <activity
            android:name=".studente.DettaglioLidl"
            android:exported="false" />
        <activity
            android:name=".studente.DettaglioIntesa"
            android:exported="false" />
        <activity
            android:name=".studente.DettaglioMeta"
            android:exported="false" />
        <activity
            android:name=".studente.ListaAziende"
            android:exported="false" />
        <activity
            android:name=".login.LoginError"
            android:exported="false" />
        <activity
            android:name=".hr.DashboardHR"
            android:exported="false" />
        <activity
            android:name=".docente.DashboardDocente"
            android:exported="false" />
        <activity
            android:name=".studente.DashboardStudente"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".studente.RegistrazioneStudente"
            android:exported="false" />
        <activity
            android:name=".studente.Messaggi"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio1"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio2"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio3"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio4"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio5"
            android:exported="true" />
        <activity
            android:name=".studente.Messaggio6"
            android:exported="true" />
        <activity
            android:name=".hr.RegistrazioneHR"
            android:exported="true" />
        <activity
            android:name=".docente.RegistrazioneDocente"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>